@model IEnumerable<LibraryWebApplication1.Team>

@{
    ViewData["Title"] = "Запит 6";
}

<h1>Запит 6</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TName)
            </td>
        </tr>
}
    </tbody>
</table>
