@model LibraryWebApplication1.Country

@{
    ViewData["Title"] = "Видалення";
}

<h1>Видалення</h1>

<h3>Ви точно хочете видалити цю країну?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoPopulation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoPopulation)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CoId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Країни</a>
    </form>
</div>
