@model LibraryWebApplication1.Country

@{
    ViewData["Title"] = "Деталі";
}

<h1>Деталі країни</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoPopulation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoPopulation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CoId">Редагувати</a> |
    <a asp-action="Index">Країни</a>
</div>
