@{
    ViewData["Title"] = "Запити";
}

<h1>Запити</h1>

<h4>Прості параметризовані запити</h4>


<table class="table">
    <thead>
        <tr>
            <th>
                Номер запиту
            </th>
            <th>
                Опис запиту
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a asp-controller="Cities" asp-action="CreateQuery1">Запит 1</a>
            </td> 
            <td>
                Знайти міста, у яких не менше ніж р стадіонів
            </td> 
        </tr>
        <tr>
            <td>
                <a asp-controller="Games" asp-action="CreateQuery2">Запит 2</a>
            </td>
            <td>
                Знайти матчі, у яких гостьова команда представляє місто з насленням не менше як р тисяч осіб
            </td>
        </tr>
        <tr>
            <td>
                <a asp-controller="Teams" asp-action="CreateQuery3">Запит 3</a>
            </td>
            <td>
                Знайти тренерів команд, які брали участь в матчах з присутністю більше як р людей
            </td>
        </tr>
        <tr>
            <td>
                <a asp-controller="Cities" asp-action="CreateQuery4">Запит 4</a>
            </td> 
            <td>
                Знайти міста, у яких знаходиться прийнамні х команд, які брали участь прийнамні у р матчах
            </td> 
        </tr>
        <tr>
            <td>
                <a asp-controller="Stadia" asp-action="CreateQuery5">Запит 5</a>
            </td> 
            <td>
                Знайти стадіони, на яких грали рівно р різних команд
            </td> 
        </tr>
    </tbody>
</table>

<h4>Множинні параметризовані запити</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Номер запиту
            </th>
            <th>
                Опис запиту
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a asp-controller="Teams" asp-action="CreateQuery6">Запит 6</a>
            </td> 
            <td>
                Знайти команди, які грали у всіх тих містах, де грала команда Х
            </td> 
        </tr>
        <tr>
            <td>
                <a asp-controller="Stadia" asp-action="CreateQuery7">Запит 7</a>
            </td> 
            <td>
                Знайти стадіони, на яких грали всі команди міста Х і обов'язково ще якісь
            </td> 
        </tr>
        <tr>
            <td>
                <a asp-controller="Teams" asp-action="CreateQuery8">Запит 8</a>
            </td> 
            <td>
                Знайти команди, які не грали проти команд з країни Х
            </td> 
        </tr>
    </tbody>
</table>