@model LibraryWebApplication1.Game

@{
    ViewData["Title"] = "Додати матч";
}

<h1>Додати матч</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GId" class="control-label"></label>
                <input asp-for="GId" class="form-control" />
                <span asp-validation-for="GId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GTeamH" class="control-label"></label>
                <select asp-for="GTeamH" class ="form-control" asp-items="ViewBag.GTeamH"></select>
            </div>
            <div class="form-group">
                <label asp-for="GTeamA" class="control-label"></label>
                <select asp-for="GTeamA" class ="form-control" asp-items="ViewBag.GTeamA"></select>
            </div>
            <div class="form-group">
                <label asp-for="GStadium" class="control-label"></label>
                <select asp-for="GStadium" class ="form-control" asp-items="ViewBag.GStadium"></select>
            </div>
            <div class="form-group">
                <label asp-for="GAttendance" class="control-label"></label>
                <input asp-for="GAttendance" class="form-control" />
                <span asp-validation-for="GAttendance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Матчі</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
