@model LibraryWebApplication1.City

@{
    ViewData["Title"] = "Запит 5";
}

<h2>Введіть параметр запиту - кількість різних команд, що грали на стадіоні</h2>

<form asp-controller="Stadia" asp-action="IndexQuery5">
    Параметр запиту:  <input type="number" id="cnt" name="cnt"> <br />
    <button type="submit">Створити запит</button>
</form>